.head{
    background-image: url("https://www.axaconnect.co.uk/uploadedImages/Pages/Products/Commercial/Complex/Business_combined_large.jpg?n=6962");
    height: "100%";
   background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
 
}
